body
{
    background-color: #A4E2C6;  /* 艾绿 */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* 水平排列 */
.container_horizontal
{
    display: flex;
    width: 80%;
    height: 300px;
}

/* 垂直排列 */
.container_vertical
{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100vh;
}

.cards
{
    border-radius: 20px;
    flex: 1;
    margin: 10px;
    cursor: pointer;
    transition: flex 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-family: Arial, sans-serif;
}

.cards:hover
{
    flex: 3;
}

a
{
    text-decoration: none;
    color: #758A99;  /* 墨灰 */
}
